:root {
  /*--ifm-link-decoration: red;*/
  --ifm-color-primary: #42b983;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
}

.header-github-logo:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("/assets/svg/brand-github.svg");
  background-repeat: no-repeat;
}

.header-discord-logo:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-size: contain;
  background-image: url('/assets/svg/brand-discord.svg');
  background-repeat: no-repeat;
}

.header-twitter-logo:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-size: contain;
  background-image: url('/assets/svg/brand-x.svg');
  background-repeat: no-repeat;
}

/* Icons dark mode */
html[data-theme='dark'] .header-github-logo:before {
  background-image: url("/assets/svg/brand-github-dark.svg");
}
html[data-theme='dark'] .header-discord-logo:before {
  background-image: url('/assets/svg/brand-discord-dark.svg');
}
html[data-theme='dark'] .header-twitter-logo:before {
  background-image: url('/assets/svg/brand-x-dark.svg');
}

footer.footer.footer--dark {
  background-color: #000;
}

.text-left{
  text-align: left !important;
}
